.calculatrice{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.display{
    margin-bottom: 35px;
}
button{
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #DB7093	;
    color: #FFC0CB;
    border: none;
}
button:hover{
    background-color: #886a6a;
    color: #fff;
}
#h1{
    text-align: center;
    background-color: #FF1493;
}
